body{
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Bonbon';
  margin: 0;
}

header h1{
  font-size: 35px;
  margin:20px 0;
}
header h2{
  font-size: 20px;
  margin: 0px 0px 40px 0px;
  font-weight: normal;
  font-style: italic;
}

main.documentation-page h3{
  margin-top: 40px;
}

li{
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
}
p{
  font-size: 16px;
  line-height: 1.6em;
  margin: 2.5em 0;
  font-family: Helvetica, sans-serif;
}

main,
header{
    width:100%;
    max-width:1400px; /* means it won't be larger than 1200px on larger screens */
    box-sizing: border-box;
    margin: 0 auto;
    padding: 30px 3%;
}

header.documentation-header{
    padding: 0 3%;
}

.documentation-header section,
main.documentation-page section{
    margin: 10px 10%;
}

footer{
  width:100%;
  min-height:100px;
}

.flex-container{
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-item{
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%; 
  box-sizing: border-box;
  padding: 5px;
}

.flex-item a{
  display: flex;
  width: 100%;
  height: 0;
  padding: 30% 0; 
  background-position: center;
  background-color: aqua;
  background-size: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color:#4f4f4f;
  transition: all 0.2s; 
}


.flex-item a:hover{
  color:#bbbbbb;
  background-size: 120%;
}

.flex-item h4{
 margin:10px;
 background-color: white;
 padding:5px 10px;
}


.flex-item a#cleansing{
  background-image: url(../asset/cleansing.jpg); 
}

.flex-item a#guest{
  background-image: url(../asset/guest.png); 
}

.flex-item a#angel{
  background-image: url(../asset/angel.jpg); 
}

.flex-item a#poem{
  background-color: aquamarine;
}
.flex-item a#life{
  background-color: rgb(255, 255, 127);
}
.flex-item a#data{
  background-color: rgb(255, 127, 204);
}
.flex-item a#scrape{
  background-color: rgb(127, 182, 255);
}

@media screen and (max-width: 1200px) {
  /* body {
    background-color: rgb(0, 255, 162);
  } */

  .flex-item{
      flex-basis: 33.33%; /*width of the box, take up a quarter of the parent's size*/
  }
}

/* Large */
@media screen and (max-width: 992px) {
  /* body {
    background-color: rgb(255, 81, 0);
  } */

}

/* Medium */
@media screen and (max-width: 768px) {
  /* body {
    background-color: rgb(255, 0, 191);
  } */

  .flex-item{
      flex-basis: 50%; /*width of the box, take up a quarter of the parent's size*/
  }
}

/* Small */
@media screen and (max-width: 576px) {
  /* body {
    background-color: blue;
  } */

  .flex-item{
      flex-basis: 100%; /*width of the box, take up a quarter of the parent's size*/
  }
}

/*
* Style Navigation Bar
*/

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  /* background-color: #ffffff;  */
  overflow-x: hidden; /* Disable horizontal scroll */
  /* padding-top: 20px; */
}

/* The navigation menu links */
.sidenav a, p{
  padding: 0px 0px 2px 10px;
  text-decoration: none;
  font-size: 18px;
  color: #000000;
  display: block;
  font-family: 'Codystar';
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav img {
  width: 200px;
}

/* Style page content */
.main {
  margin-left: 200px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

